@theme {
  --color-*: initial;

  /* Mauve */
  --color-gray-1: oklch(99.18% 0.0018 321.1);
  --color-gray-2: oklch(98.32% 0.0033 311.2);
  --color-gray-3: oklch(95.56% 0.0059 314.2);
  --color-gray-4: oklch(93.16% 0.0078 310);
  --color-gray-5: oklch(90.9% 0.0101 306.6);
  --color-gray-6: oklch(88.6% 0.0116 304);
  --color-gray-7: oklch(85.36% 0.0143 300.6);
  --color-gray-8: oklch(79.36% 0.0193 293.5);
  --color-gray-9: oklch(64.58% 0.0195 292.6);
  --color-gray-10: oklch(61.06% 0.0185 293.1);
  --color-gray-11: oklch(50.48% 0.016 296.1);
  --color-gray-12: oklch(24.46% 0.0134 298);

  /* Crimson */
  --color-primary-1: oklch(99.38% 0.0033 356.3);
  --color-primary-2: oklch(98.18% 0.008 357.2);
  --color-primary-3: oklch(95.41% 0.0261 356.3);
  --color-primary-4: oklch(92.52% 0.0411 356.3);
  --color-primary-5: oklch(89.28% 0.0537 355.8);
  --color-primary-6: oklch(85.5% 0.0646 355.6);
  --color-primary-7: oklch(80.78% 0.0784 354.8);
  --color-primary-8: oklch(75% 0.0988 354.1);
  --color-primary-9: oklch(63.43% 0.213 1.304);
  --color-primary-10: oklch(60.8% 0.2111 2.355);
  --color-primary-11: oklch(55.21% 0.2074 4.487);
  --color-primary-12: oklch(34.08% 0.1129 356.8);
}
